


                        /* general */



html  {
  font-family: Arial;
  font-size: 16px;
  background-color: whitesmoke;
  color: hsl(0, 0%, 27%);
}

a  {
  text-decoration: none;
  decoration: none;
}

a:visited  {
  text-decoration: none;
  decoration: none;
  color: hsl(0, 0%, 27%);
}

.mobile {
  display: none;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
}

.even {
  background-color: lightgrey;
}
.odd {
  background-color: whitesmoke;
}

h1  {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1px;
}

h3  {
  font-size: 1.75rem;
  line-height: 1.4;
  font-weight: 700;
}

h4  {
  font-weight: 500;
}

p {
  font-size: 1.25rem;
}



                        /* header */



header  {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 4rem;
}

.logo  {
  font-size: 1.85rem;
  color: slategrey;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.logo span strong  {
  color: hsl(120, 0%, 25%);
}

ul {
  display: flex;
  list-style: none;
  font-size: 1.25rem;
  margin-right: 1.5rem;
}

li  {
  margin-right: 1rem;
  padding-right: 0.25rem;
  border-right: 1px double hsl(0, 0%, 27%);
}

li:last-child {
  border-right: none;
  padding-right: 0;
}

li:hover{
  color: lightgrey;
}



                      /* Banner */



.image{
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
}

.image img {
  width: 100%;
  height: auto;
}

.start {
  width: 27.5%;
  margin: auto 1.5rem;
}

.button {
  width: 100%;
  background: hsl(0, 0%, 27%);
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: -3px 3px 3px darkgrey;
}

.button span {
  font-size: 1.5rem;
  color: whitesmoke;
}

.button:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.button:hover span {
  color: hsl(0, 0%, 27%);
}

.button:active  {
  background: silver;
  box-shadow: 0px 0px lightgrey;
}

.button:active span {
  color: hsl(0, 0%, 27%);
}



                              /* content */



#left {
  width: 60%;
  margin: 2rem 1.5rem;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}

#left img {
  width: 100%;
  height: auto;
}

#left h1 {
  margin-bottom: 1.5rem;
}

#left p , #left span {
  margin-top: 0;
  margin-bottom: 2rem;
}

#right {
  flex-direction: column;
  width: 40%;
  height: auto;
}

.content img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.content:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.content:active {
  background-color: silver;
}

.content  {
  transition-duration: 400ms;
  width: 100%;
}

.info{
  width: 65%;
}



                            /* learn */



.learning {
  width: 100%;
  flex-direction: column;
}

.learning h1 {
  margin-top: 2rem;
}

.subjects {
  flex-wrap: wrap;
  margin: 2rem 4.5rem;
  width: 100%;
  justify-content: space-around;
}

.learn {
  flex-direction: column;
  width: 28%;
  height: auto;
  margin-bottom: 0.75rem
}

.learn:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.learn:active {
  background-color: silver;
}

.learn img {
  width: 100%;
}

.course {
  width: 90%;
  flex-direction: column;
  justify-content: space-around;
}



                            /* exhibit */



.exhibit {
  flex-direction: column;
}

.just {
  align-items: flex-start;
}

.video {
  width: 55%;
  margin: 0 1.5rem;

}

video {
  width: 100%;
}

.video p {
  padding-bottom: 2.5rem;
}

.theses {
  width: 40%;
  height: 100%;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: baseline;
}

.theses img {
  width: 35%;
  margin: 1rem;
}

.thesis:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.thesis:active {
  background-color: silver;
}



                                    /* footer */



footer  {
  justify-content: space-between;
  border-top: 1.5px solid gainsboro;
  padding: 1rem 1.5rem;
  width: 100%;
}


                                    /* mobile */


@media only screen and (max-width: 480px)  {



                  /* general */



  .mobile {
    display: initial;
  }

  .desktop {
    display: none;
  }

  html {
    font-size: 12px;
  }



                      /* banner */



  #banner {
    flex-direction: column;
  }

  .image {
    width: 100%;
    margin: 0;
  }

  .start {
    width: 90%;
    margin: auto;
  }

  .button {
    margin-bottom: 2rem;
    box-shadow: none;
  }



                            /* content */



  #right {
    width: 100%;
    margin-top: 1rem;
  }

  .content {
    flex-direction: column;
  }

  .content img {
    width: 100%;
    margin: 0;
  }

  .info {
    width: 90%;
    margin-bottom: 2rem;
    font-size: 16px;
  }

  .info h3 {
    font-size: 2rem;
    margin-bottom: -1rem;
  }



                          /* learn */



  .subjects  {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .learn {
    width: 90%;

  }

  .course {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1.5rem;
  }

  .course h3 {
    font-size: 2rem;
  }



                        /* exhibit */



  .video {
    width: 100%;
    margin-bottom: 2rem;
  }



                        /* footer */



  footer {
    border-top: 0;
    padding: 2rem;
    font-size: 1.25rem;
  }
}
